.navbar {
  position: relative;
  min-height: 60px;
  margin-bottom: 0px;
  background-color: #337ab7;
  color: white;
}

.table {
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
  padding: 0px;
}



.bt {
  width: 40px;
  margin: 0px;

}

h1, h6 {
  padding: 0px;
  margin: 10px;
  margin-left: 1%;
}

.btn-primary {
  margin-left: 1%;
}

.table > tbody > tr > td {
  vertical-align: baseline;
}

.btn-primary {
  margin-left: 1%;
}

.code {
  width: 200px;
}

.index {
  width: 30px;
}
