<header class="header">
  <div class="navbar navbar-fixed-top">
    <span *ngIf="project.code && project.title" class="header-a">{{project.code}} - {{project.title}}</span>
    <div class="div">
      <button [disabled] = "!isValid" type="button" class="save btn-success" (click)="OutputEvent(1)">SAVE</button>
      <button [disabled] = "!isValid" type="button" class="save btn-primary" (click)="OutputEvent(2)">SAVE&CLOSE</button>
      <button class="save btn-danger" type="button" (click)="OutputEvent(3)">CANCEL</button>
    </div>
    <h6 *ngIf="project.modifyUser && project.modifyDate">Last Modified by {{project.modifyUser}} on {{project.modifyDate | date : 'short'}}</h6>
  </div>
</header>
