.navbar {
  position: relative;
  min-height: 60px;
  margin-bottom: 0px;
  background-color: #337ab7;
  color: white;
}

.save{
  margin-top: 10px;
  color: #337ab7;
  font-weight: bold;
  background-color: #ffffff;
  border-color: #3177b2;
}

.div{
  text-align: right;
  margin-right: 3%;
}
.header-div{
  padding: 10px;
  padding-left: 30px;

}

.header-button{
  padding: 5px;
  margin: 2px;
}

.header-p{
  margin-top: 0px;
  padding-top: 20px;
}

.header-a{
  margin-left: 3%;
}
h6{
  margin-left: 3%;
}

