<div class="color" id="pop" *ngIf="showPopUp">
  <h3>Add Project Location</h3>
  <div>
    <table class="code">
      <tr>
        <td><h6>Country<span style="color: red">*</span></h6></td>
      </tr>
      <tr>
        <td>
          <combo-box-app (selectedId)="exportCountryId($event)" [listObj]="countriesList" [selectedValue]="countryId"></combo-box-app>
        </td>
      </tr>
    </table>
  </div>
  <div>
    <table class="code">
      <tr>
        <td><h6>District<span style="color: red">*</span></h6></td>
      </tr>
      <tr>
        <td>
          <combo-box-app (selectedId)="exportDistrictId($event)" [listObj]="districtsList" [selectedValue]="districtId" #dis></combo-box-app>
        </td>
      </tr>
    </table>
  </div>
  <div>
    <table class="code">
      <tr>
        <td><h6>%</h6></td>
      </tr>
      <tr>
        <td><input type="number" [(ngModel)]="percent"></td>
      </tr>
    </table>
  </div>
  <div class="code">
    <button [disabled]="dis.selectedValue == -1" (click)="addLocation()">Add</button>
    <button (click)="cancel()">Cancel</button>
  </div>
</div>
<div id="bg" *ngIf="showPopUp"></div>
