<div class="color" id="pop" *ngIf="showPopUp">
  <h3>Add Project Location</h3>
  <div>
    <table class="code">
      <tr>
        <td><h6>Country<span style="color: red">*</span></h6></td>
      </tr>
      <tr>
        <td>
          <sis-combo-box (selectedId)="changeCountryId($event)" [listObj]="countriesList"
                         [selectedValue]="countryId"></sis-combo-box>
        </td>
      </tr>
    </table>
  </div>
  <div>
    <table class="code">
      <tr>
        <td><h6>District<span style="color: red">*</span></h6></td>
      </tr>
      <tr>
        <td>
          <sis-combo-box (selectedId)="changeDistrictId($event)" [listObj]="districtsList" [selectedValue]="districtId"
                         #district></sis-combo-box>
        </td>
      </tr>
    </table>
  </div>
  <div>
    <table class="code">
      <tr>
        <td><h6>%</h6></td>
      </tr>
      <tr>
        <td>
          <label>
            <input type="number" [(ngModel)]="percent" max="100" min="0">
          </label>
        </td>
      </tr>
    </table>
  </div>
  <div class="code">
    <button [disabled]="district.selectedValue == -1" (click)="addLocation()">Add</button>
    <button (click)="cancel()">Cancel</button>
  </div>
</div>
<div id="bg" *ngIf="showPopUp"></div>
